body {
	font-size: 12pt;
	line-height: 1.75em;
	font-family: Georgia, serif;
	background: #ad8667;
	background-image: url(/app/images/bg.jpg);
	color: #ebe1d9;
}


h1,h2,h3 {
	text-transform: lowercase;
	letter-spacing: -1px;
}

h2,h3 {
	margin-bottom: 1em;
	font-family: Arvo, serif;
	color: #fff;
}

img.left {
	float: left;
	margin: 5px 20px 20px 0;
}

img.top {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}


footer {
	width: 100%;
	height:50px;
	left: 0;
	position: absolute;
	margin-top: 84%;
	text-align: center;
	color: #070707

}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}




#box1 {
	width: 745px;
	overflow: hidden;
	margin: 0 0 35px 0;
}

#box2 {
	width: 745px;
	overflow: hidden;
	margin: 0 0 35px 0;
}



#content {
	width: 745px;
	margin: 0 0 0 355px;
	padding: 40px;
	background: #fff;
}



#footer {
	position: relative;
	padding: 40px;
	width: 1100px;
	color: #e1d2c7;
}

#footer a {
	color: #f4eeea;
}



#footer ul {
	list-style: none;
}

#footer ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #c6aa95;
}

#footer ul li.first {
	padding-top: 0;
	border-top: 0;
}



#footerSidebar {
	width: 240px;
	float: left;
}

#header {
	position: relative;
	padding: 40px;
	height: 120px;
}

#logo {
	position: absolute;
	top: 0px;
	left: 40px;
	height: 120px;
	line-height: 120px;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

#logo h1 {
	font-size: 3.5em;
	font-family: Lobster, cursive;
	text-shadow: 0 2px 1px #32251B;
}

#main {
	position: absolute;
	top: 275px;
	left: 1%;
	padding: 0;
	width: 336px;
	color: #5e5e5e;
}

#main strong {
	color: #3e3e3e;
}

#main a {
	color: #242424;
}

#main h2, #main h3, {
	color: #242424;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 15px 0 15px 0;

}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#main ul.imageList li {
	padding: 15px 0 15px 0;
}

#nav {
	position: absolute;
	right: 40px;
	height: 53px;
	line-height: 53px;
	top: 73px;
}

#nav a {
	text-decoration: none;
	text-transform: lowercase;
	color: #f4eeea;
	text-shadow: 0 1px 1px #32251B;
	font-size: 1.2em;
}

#nav li {
	margin: 0 1em 0 1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}



#search input.button {
	margin-left: 1em;
	border: 0;
	color: #fff;
	background: #1495ff;
	padding: 11px;
}

#search input.text {
	border: dotted 1px #fff;
	padding: 10px;
}

#sidebar {
	width: 240px;
	float: left;
	padding: 40px;
	background: #32251b;
	color: #e1d2c7;
}

#sidebar a {
	color: #e2e0df;
}

#sidebar h2, #sidebar h3, #sidebar h4 {
	color: #fff;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #70665f;
}

#sidebar ul li.first {
	padding-top: 0;
	border-top: 0;
}





.contact_form input, .profile_form input, .restore_pass input {
    height:20px;
    width:220px;
    padding:5px 8px;
}

.contact_form textarea, .profile_form textarea, .restore_pass textarea {
    padding:8px; width:300px;
}

.contact_form button, .profile_form button {
    margin-left:156px;
}

.contact_form input, .contact_form textarea, .profile_form input,
.profile_form textarea, .restore_pass input, .restore_pass textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}



button.profile {
    padding: 3px 7px;
    position: absolute;
    top: 108px;
    right: 15px;
}

button.forgot_pass{
    padding: 3px 7px;
    border-radius: 3px;
    position: absolute;
    top: 520px;
    right: 518px;
}

.restore_pass button{
    margin-left:280px;
}

.login_form{
    position: absolute;
    top:75px;
    left:140%;
    width: 384px;
}

.login_form label {
    display: none;
}

.login_form input[type="text"],.login_form input[type="password"] {
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 7px;
    font-size: 14px;
    color: #000000;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    padding-left: 20px;
    background-clip: padding-box;
    border-radius: 6px;
    background-color: lightgray;
    box-shadow: inset 0px 2px 0px #d9d9d9;
}

.login_form input[type="text"]:focus,.login_form input[type="password"]:focus {
    box-shadow: inset 0px 3px 0px #808080;
}

.login_form input:first-child {
    margin-top: 0px;
}

.login_form input[type="submit"] {
    width: 100px;
    height: 40px;
    margin-top: 7px;
    margin-left: 142px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #8b8b8b;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    background-clip: padding-box;
    border-radius: 6px;
    background-color: #646970;
    box-shadow: inset 0px 1px 0px #949494;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.login_form input[type="submit"]:hover {
    background-color: #7e848b;
    box-shadow: inset 0px 1px 0px #a8a8a8;
    margin-top: 10px;
}

.login_form input[type="submit"]:active {
    background-color: #70757c;
    box-shadow: inset 0px 1px 0px #999999;
}


.contact_form input:focus, .contact_form textarea:focus {
    padding-right:70px;
}

.contact_form input, .profile_form input, .contact_form textarea {
    transition: padding .25s;
    padding-right:30px;
}

input:required, textarea:required {
    background: #fff no-repeat 98% center;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #d4683c;
    border-color: #b0525e
}

.contact_form input:required:valid, .contact_form textarea:required:valid,
.restore_pass input:required:valid, .restore_pass textarea:required:valid{
    background: #fff no-repeat 98% center;    border-bottom-color: #28921f;
}

.contact_form{
	position: absolute;
	top: -50px;
	left: 145%;
	border: 1px solid rgba(54, 38, 55, 0.62);
	width: 385px;
	border-radius: 17px;
}

